<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="d-flex ">
      <div  class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/signup">signup</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
      <br><br>
      <form  th:action="@{/signup}" th:object="${PersonConnection}" method="post">
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label"  >Firstname</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" value=""  th:field="*{firstname}" placeholder="Dupont">
            </div>
          </div>
        <div class="mb-3 row">
          <label  class="col-sm-2 col-form-label"  >Last Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"  value="" th:field="*{lastname}" placeholder="Marcel">
          </div>
        </div>
        <div class="mb-3 row">
          <label  class="col-sm-2 col-form-label" >email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control"  value="" th:field="*{email}" placeholder="marcel.dupont@gmail.com">
         </div>
       </div>
       <div class="mb-3 row">
        <label  class="col-sm-2 col-form-label" >username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  value="" th:field="*{username}" placeholder="MD45698">
       </div>
     </div>
     <div class="mb-3 row">
        <label  class="col-sm-2 col-form-label" >password</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  value="" th:field="*{password}" placeholder="">
       </div>
     </div>
          <div class="btn ">
              <button type="submit" value="signup" class="btn btn-primary mb-3" >Submit</button>
          </div>
         
        </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>